.draggableWrapper {
    min-width: 30%;
    width: fit-content;
    max-width: 50%;
    background: var(--sidebar-color);
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    z-index: 10000;
    border: 1px solid #2B2B2B;
}

.draggableArea {
    min-width: 100%;
    min-height: 40px;
    background-color: var(--sidebar-color);
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #2B2B2B;
}

.resizeHandle {
    width: 10px;
    height: 10px;
    background-color: #2B2B2B;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
}