.dashboard {
    position: relative;
    top: 0;
    height: 100vh;
    color: white;
}

.content {
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-color: var(--background-color);
    position: relative;
    width: calc(100% - 80px);
    height: 100%;
    float: right;
}

.navbar_vertical {
    position: fixed;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 80px;
    left: 0;
    z-index: 9999;
    background-color: var(--sidebar-color);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.navbar_vertical:hover {
    width: 260px;
}

.logo {
    font-family: var(--logo-font);
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  */

.navbar_vertical:hover .logo {
    font-size: 50px;

}

.navbar_vertical_items {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.navbar_vertical_item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 88%;
    transition: all 0.3s ease-in-out;
    height: 45px;
    gap: 10px;
    border-radius: 10px;


}

.navbar_vertical_item_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 22px;
}

.navbar_vertical_item_text {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    font-size: 15px;
    font-weight: 500;
    display: none;
}

.navbar_vertical_item:hover {
    background-color: #2D2D2D;
}

.navbar_vertical:hover .navbar_vertical_item_text {
    display: block;
    animation: fadeInLate 0.3s ease-in-out forwards;
}

.lock_navbar_vertical {
    position: fixed;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 260px;
    left: 0;
    z-index: 1000;
    background-color: var(--sidebar-color);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lock_navbar_vertical .logo {
    font-family: var(--logo-font);
    font-size: 50px;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    margin-bottom: 20px;
}

.lock_navbar_vertical .navbar_vertical_item_text {
    display: block;
    opacity: 1;
    font-size: 15px;
    font-weight: 500;
}

.content_when_navbar_vertical_is_locked {
    width: calc(100% - 260px) !important;
}

.lock_navbar_vertical .navbar_vertical_item {
    justify-content: left;
}

.lock_navbar_vertical .navbar_vertical_item_icon {
    margin-left: 22px;
}


.active_navbar_item {
    background-color: var(--primary-color);
}

.navbar_lock_unlock {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

.content_header {
    top: 0px;
    height: 100px;
    width: 100%;
    background-color: var(--sidebar-color);
    position: absolute;
    display: flex;

}

.content_header_left {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 20px;
    padding-left: 20px;
    height: 100%;
}

.content_header_right {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 20px;
    padding-right: 20px;
    overflow: hidden;
    height: 100%;
}


/* Footer Notification  */
.footerNotification {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    color: #E6E6FA;
}

.footerText {
    padding: 0 5px;
    border: 2px solid #E6E6FA;
    border-radius: 5px;
}

/* Socket Connection Status */
.socketConnectionStatusWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.redDot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #a1020f;
    border: 2px solid #fff;
}

.greenDot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #05a141;
    border: 2px solid #fff;
}


/* RIGHT SIDE CURRENT MARKET LTP */
.content_header_right_index_current_price {
    width: 230px;
    border: 1px solid white;
    padding: 0 5px;
    border-radius: 5px;
    font-size: 15px;
}



.content_header_right_time {
    width: 65px;
}

.profile_image {
    width: 100%;
    height: 100%;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid white;
    border-radius: 50%;

}

.circle:hover {
    animation: colors 30s infinite ease;
}

@keyframes colors {

    0%,
    100% {
        box-shadow: 4px 4px 40px 20px #ff007f, -4px -4px 40px 20px #ffe600;
    }

    10% {
        box-shadow: 4px 4px 40px 20px #66d6ff, -4px -4px 40px 20px #03a9f4;
    }

    20% {
        box-shadow: 4px 4px 40px 20px #00ffea, -4px -4px 40px 20px #5cffae;
    }

    30% {
        box-shadow: 4px 4px 40px 20px #e6e6fa, -4px -4px 40px 20px #c8a2c8;
    }

    40% {
        box-shadow: 4px 4px 40px 20px #ffe5b4, -4px -4px 40px 20px #ffeb3b;
    }

    50% {
        box-shadow: 4px 4px 40px 20px #e3f2fd, -4px -4px 40px 20px #b9f2ff;
    }

    60% {
        box-shadow: 4px 4px 40px 20px #1565c0, -4px -4px 40px 20px #1a237e;
    }

    70% {
        box-shadow: 4px 4px 40px 20px #ffcc03, -4px -4px 40px 20px #c7372f;
    }

    80% {
        box-shadow: 4px 4px 40px 20px #ff007f, -4px -4px 40px 20px #ff033e;
    }

    95% {
        box-shadow: 4px 4px 40px 20px #ffcdd2, -4px -4px 40px 20px #b3e5fc;
    }
}

.contentBody {
    top: 100px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    width: 100%;
    height: fit-content;
    background-color: var(--background-color);
}

@keyframes fadeInLate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

/* POSITIONS  */
.positionsWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
    overflow: auto;
    font-size: 12px;
    padding-bottom: 100px;

}

.positionsWrapper::-webkit-scrollbar {
    width: 10px;
}

.positionsHeader {
    width: 100%;
    height: fit-content;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 1px solid #2B2B2B;
    color: #ffff;
    position: sticky;
    top: 0;
    background-color: var(--sidebar-color);
}

.position {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 8px;
    color: #ffff;
    border: 1px solid #2B2B2B;

}

.positionInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 5px;
    color: #ffff;
    border-bottom: 1px solid #2B2B2B;
}



.positionStatus {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    color: #ffff;
}

.position:hover {
    background-color: #2B2B2B;
}