.dashboard {
    position: relative;
    top: 0;
    height: 100vh;
    color: white;
}

.content {
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-color: var(--background-color);
    position: relative;
    width: calc(100% - 80px);
    height: 100%;
    float: right;
}

.navbar_vertical {
    position: fixed;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 80px;
    left: 0;
    z-index: 9999;
    background-color: var(--sidebar-color);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.navbar_vertical:hover {
    width: 260px;
}

.logo {
    font-family: var(--logo-font);
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_vertical:hover .logo {
    font-size: 50px;

}

.navbar_vertical_items {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.navbar_vertical_item {

    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 90%;
    transition: all 0.3s ease-in-out;
    height: 45px;
    gap: 20px;
    border-radius: 10px;


}

.navbar_vertical_item_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 22px;
}

.navbar_vertical_item_text {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    font-size: 15px;
    font-weight: 500;
    display: none;
}

.navbar_vertical_item:hover {
    background-color: #2D2D2D;
}

.navbar_vertical:hover .navbar_vertical_item_text {
    display: block;
    animation: fadeInLate 0.3s ease-in-out forwards;
}

.lock_navbar_vertical {
    position: fixed;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 260px;
    left: 0;
    z-index: 9999;
    background-color: var(--sidebar-color);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lock_navbar_vertical .logo {
    font-family: var(--logo-font);
    font-size: 50px;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    margin-bottom: 20px;
}

.lock_navbar_vertical .navbar_vertical_item_text {
    display: block;
    opacity: 1;
    font-size: 15px;
    font-weight: 500;
}

.content_when_navbar_vertical_is_locked {
    width: calc(100% - 260px) !important;
}

.lock_navbar_vertical .navbar_vertical_item {
    justify-content: left;
}

.lock_navbar_vertical .navbar_vertical_item_icon {
    margin-left: 22px;
}


.active_navbar_item {
    background-color: var(--primary-color);
}

.navbar_lock_unlock {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

.content_header {
    top: 0px;
    height: 8%;
    width: 100%;
    background-color: var(--sidebar-color);
    position: relative;
    display: flex;

}

.content_header_left {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 20px;
    padding-left: 20px;
}

.content_header_right {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 20px;
    padding-right: 20px;
}

.profile_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

@keyframes fadeInLate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}