/* Choose Index */
.selectorWrapper {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    transition: 0.3s ease-in-out;
}

.selectorList {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
    margin-top: 0px;
    width: fit-content;
}

.selectorButton {
    background-color: var(--sidebar-color);
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    border: 1px solid rgb(58, 58, 58);
}

.selectorButtonActive {
    background-color: var(--primary-color);
    cursor: pointer;
    color: #f8f8f8;
    border-radius: 8px;
    padding: 5px 10px;
    transition: 0.3s ease-in-out;
}

.selectorButton:hover {
    /*grow effect  */
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--sidebar-color);
    cursor: pointer;
}

.selectorButtonActive:hover {
    /*grow effect  */
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--primary-color);
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .selectorWrapper {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px;
    }

    .selectorList {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .selectorButton {
        width: 100%;
    }

    .selectorButtonActive {
        width: 100%;
    }
}