@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsrounded/v86/syl0-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190FjpZIvDmUSVOK7BDJ_vb9vUSzq3wzLK-P0J-V_Zs-QtQth3-jOc7TOVpeRL2w5rwZu2rIelXxeJKJBiCa8.woff2) format('woff2');
}

.material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: "THICCCBOI-ThicccAF";
    src: url("/fonts/THICCCBOI-ThicccAF.woff2") format("woff2");
    font-display: swap;
}

:root {
    --primary-color: #00A6ED;
    --primary-hover: #66C4F8;
    --primary-dark: #007CBF;
    --disabled-color: #B3D9F7;
    --text-light: #FFFFFF;
    --text-dark: #333333;
    --background-color: #131113;
    --sidebar-color: #1A191A;
    --popup-background-color: #1A191A;
    --logo-font: "THICCCBOI-ThicccAF";
    --z-index-popup: "100";


    --red: #E60012;
    --red-hover: #FF3340;
    --red-dark: #C8102E;
    --red-disabled: #FFC1C1;

    --green: #4CAF50;
    --green-hover: #66BB6A;
    --green-dark: #388E3C;
    --green-disabled: #A5D6A7;

    --red-1: #FF0000;
    --red-2: #E60012;
    --red-3: #C8102E;
    --red-4: #A6192E;
    --red-5: #8C1515;

    --green-1: #00FF00;
    --green-2: #4CAF50;
    --green-3: #388E3C;
    --green-4: #2E7D32;
    --green-5: #1B5E20;

    --accent-color-1: #4CAF50;
    /* Green */
    --accent-color-2: #c57600;
    /* Orange */
    --accent-color-3: #bb003e;
    /* Pink */
    --accent-color-4: #FFC107;
    /* Yellow */
    --accent-color-5: #9C27B0;
    /* Purple */
    --accent-color-6: #FF5722;
    /* Deep Orange */
    --accent-color-7: #795548;
    /* Brown */
    --accent-color-8: #607D8B;
    /* Blue Grey */
}


.background-accent-color-2 {
    background-color: var(--accent-color-2) !important;

}

.background-accent-color-3 {
    background-color: var(--accent-color-3) !important;
}

/* ------------------------------------------ Scroll -------------------------------------------*/
::-webkit-scrollbar {
    width: 5px;
}


::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

::-webkit-scrollbar-track {
    /* background-color: #f1f1f1; */
}

/* ---------------------------------------------------------------------- */

body {
    padding: 0px;
    margin: 0px;
    background-color: var(--background-color);
}

* {
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.divider {
    width: 80%;
    height: 1px;
    background-color: #2B2B2B;
}

.margin-top-n-bottom {
    margin-top: 20px;
    margin-bottom: 20px;
}

.align-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.full-width {
    width: 100%;
}

.text-center {
    text-align: center;
}

.small-text {
    font-size: 12px;
}

.medium-text {
    font-size: 16px;
}

.big-text {
    font-size: 20px;
}

/* text styles */
.underline {
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

/* margins */
.margin-top {
    margin-top: 20px;
}

.fit-content {
    width: fit-content;

}

/* some buttons  */
.disabledButton {
    cursor: not-allowed !important;
    background-color: #2B2B2B !important;
    color: #A0A0A0 !important;
}

.smallButton {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
}


.smallButton:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--primary-hover);
    cursor: pointer;
}

.fit-content {
    width: fit-content !important;
}

/* margins */
.margin-right-5px {
    margin-right: 5px;
}

.margin-left-5px {
    margin-left: 5px;
}

/* positions */
.absoluteRight {
    position: absolute;
    right: 0px;
}

/* Font Sizes */
.font-size-12px {
    font-size: 12px;
}

.font-size-14px {
    font-size: 14px;
}