@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsrounded/v86/syl0-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190FjpZIvDmUSVOK7BDJ_vb9vUSzq3wzLK-P0J-V_Zs-QtQth3-jOc7TOVpeRL2w5rwZu2rIelXxeJKJBiCa8.woff2) format('woff2');
}

.material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: "THICCCBOI-ThicccAF";
    src: url("/fonts/THICCCBOI-ThicccAF.woff2") format("woff2");
    font-display: swap;
}

:root {
    --primary-color: #126edd;
    --background-color: #131113;
    --sidebar-color: #1A191A;
    --popup-background-color: #1A191A;
    --logo-font: "THICCCBOI-ThicccAF";
    --z-index-popup: "100";
}

body {
    padding: 0px;
    margin: 0px;
    background-color: var(--background-color);
}

* {
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.divider {
    width: 80%;
    height: 1px;
    background-color: #2B2B2B;
}

.margin-top-n-bottom {
    margin-top: 20px;
    margin-bottom: 20px;
}

.align-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.full-width {
    width: 100%;
}

.text-center {
    text-align: center;
}

.small-text {
    font-size: 12px;
}

.medium-text {
    font-size: 16px;
}

.big-text {
    font-size: 20px;
}

/* text styles */
.underline {
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

/* margins */
.margin-top {
    margin-top: 20px;
}

/* some buttons  */
.disabledButton {
    cursor: not-allowed !important;
    background-color: #2B2B2B !important;
    color: #A0A0A0 !important;
}

.smallButton {
    background-color: #126edd;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
}


.smallButton:hover {
    background-color: #0d4cc2;
}

/* margins */
.margin-right-5px {
    margin-right: 5px;
}

/* positions */
.absoluteRight {
    position: absolute;
    right: 0px;
}