.pageWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerWrapper {
    width: 98%;
}


.optionChainWrapper {
    width: 100%;
    height: 100%;

    display: flex;
    border: 1px solid white;
}

.fullWidth {
    width: 100%;
}