.pageWrapper {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerWrapper {
    width: 100%;
}

.ordersListWrapper {
    width: 100%;
}